.navbar-header {
  width: 100%;
  height:100px;
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-logo {
  height: 60px;
  margin: 20px;
  float: left;
}


.navbar-header__left {
  float: left;
  line-height: 100px;
  margin-left: 5px;

  &__graph {
    float: left;
    margin-left: 10px;
    border-left: 1px solid gray;
    padding: 0 10px;
  }
  &__target {
    float: left;
    margin-left: 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0 10px;
  }
}


.navbar-header__right {
  float: right;
  margin: 10px 0 10px 5px;
  border-left: 1px solid gray;
  padding: 0 10px;
  width: 120px;
}

.clear {
  clear: both;
}